<div class="w3-top">
    <div class="w3-bar w3-card w3-theme-l5" id="myNavbar">
        <a class="w3-bar-item w3-button  w3-hover-black w3-hide-medium w3-hide-large w3-right"
           href="javascript:void(0);" onclick="toggleFunction()" title="Toggle Navigation Menu">
            <i class="fa fa-bars"></i></a>
        {% if user.is_authenticated %}
        <div class="w3-bar">
            <a href="/accounts/password/change" class="w3-bar-item w3-button w3-hover-red w3-mobile">Change Password</a>
            <a href="{%url 'welcome'%}" class="w3-bar-item w3-button w3-hover-red w3-mobile">Home</a>
            <a href="/logout" class="w3-bar-item w3-button w3-hover-red w3-mobile">Logout</a>
            {%else%}
            <a class="w3-bar-item w3-button w3-hover-red w3-mobile" href="/accounts/login">Login</a>
        </div>
        {%endif%}
        <form role="search" class="w3-right w3-hide-small" action="">
            <div class="w3-bar">
                <input type="text" name="category"
                       class="w3-bar-item w3-padding-bottom w3-border-bottom w3-border-large"
                       placeholder="Search a category..." style="background:none;">
                <button class="w3-button w3-bar-item w3-hover-red w3-large" type="submit"><i class="fa fa-search"></i>
                </button>
            </div>
        </form>
    </div>
</div>
